::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px #0a7878;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #474747;
  background-color: #474747;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #343434;
}

.nav-scroller::-webkit-scrollbar {
  height: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.post-sec {
  padding-top: 305px;
  padding-bottom: 50px;
  background-color: #111111;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (min-width: 2000) {
  .post-sec {
    background-image: url(../i/bg/hero-bg-min-2000.png);
  }
}

@media screen and (max-width: 2000px) {
  .post-sec {
    background-image: url(../i/bg/hero-bg-max-2000.png);
  }
}

@media screen and (max-width: 1600px) {
  .post-sec {
    background-image: url(../i/bg/hero-bg-max-1600.png);
  }
}

@media screen and (max-width: 1260px) {
  .post-sec {
    padding-bottom: 50px;
    background-image: url(../i/bg/hero-bg-max-1200.png);
  }
}

@media screen and (max-width: 800px) {
  .post-sec {
    padding-top: 160px;
    background-image: url(../i/bg/hero-bg-max-800.png);
  }
}

@media screen and (max-width: 410px) {
  .post-sec {
    background-image: url(../i/bg/hero-bg-max-400-dark.png);
  }
}

.post-sec__wrapper {
  max-width: 1260px;
  margin: auto;
  display: -webkit-box;
}

@media screen and (max-width: 1260px) {
  .post-sec__wrapper {
    max-width: 780px;
  }
}

@media screen and (max-width: 800px) {
  .post-sec__wrapper {
    max-width: 370px;
    display: block;
  }
}

.post-sec__wrapper--grids {
  max-width: 370px;
  color: white;
}

.post-sec__wrapper--grids:nth-child(1) {
  margin-left: 30px;
}

@media screen and (max-width: 800px) {
  .post-sec__wrapper--grids:nth-child(1) {
    margin-left: 0;
  }
}

.post-sec__wrapper--grids:nth-child(2) {
  margin-left: 40px;
}

@media screen and (max-width: 1260px) and (min-width: 801px) {
  .post-sec__wrapper--grids:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1260px) {
  .post-sec__wrapper--grids:nth-child(2) {
    margin-left: 0;
  }
}

.post-sec__wrapper--grids:nth-child(3) {
  margin-left: 40px;
}

@media screen and (max-width: 800px) {
  .post-sec__wrapper--grids:nth-child(3) {
    margin-left: 0;
  }
}

.post-wrap {
  max-width: 370px;
}

@media scren and (max-width: 410px) {
  .post-wrap {
    width: 100%;
  }
}

.post-wrap__title {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.post-wrap__title a {
  display: block;
  text-decoration: none;
  color: white;
}

.post-wrap__title a:hover {
  text-decoration: underline;
  color: white;
}

.post-wrap__title--arrow {
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 2.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  margin-top: 6px;
  margin-left: 6px;
}

.post-wrap__tweet {
  margin: 18px 0 45px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  border-top: 0.5px solid #434343;
  border-bottom: 0.5px solid #434343;
  border-right: 0.5px solid #434343;
  border-left: 0.5px solid #434343;
  border-radius: 4px;
  box-shadow: 1px 8px 23px 5px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 800px) {
  .post-wrap__tweet {
    margin: 12px 0 30px 0;
  }
}

@media screen and (max-width: 410px) {
  .post-wrap__tweet {
    box-shadow: none;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

.post-wrap__tweet--media {
  border-top-right-radius: 4px;
  min-height: 250px;
  overflow: hidden;
  background-image: url(../i/bg/image-preloader-large.svg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 410px) {
  .post-wrap__tweet--media {
    min-height: 150px;
  }
}

.post-wrap__tweet--media img {
  width: 100%;
  transform: translateZ(0);
  image-rendering: pixelated;
}

.post-wrap__tweet--info {
  padding: 10px 17px 20px 15px;
}

@media screen and (max-width: 800px) {
  .post-wrap__tweet--info {
    padding: 7.5px 17px 12.5px 15px;
  }
}

.post-wrap__tweet .tweet__admin-info {
  line-height: 20px;
}

.post-wrap__tweet .tweet__admin-info--dp {
  background-color: black;
  height: 28px;
  border-radius: 100px;
  float: left;
  margin-top: 2px;
  margin-right: 7.5px;
  transform: translateZ(0);
  image-rendering: pixelated;
}

.post-wrap__tweet .tweet__admin-info--name, .post-wrap__tweet .tweet__admin-info--user-name {
  display: block;
  font-size: 14px;
}

.post-wrap__tweet .tweet__admin-info--name {
  font-weight: bold;
}

.post-wrap__tweet .tweet__admin-info--name a {
  color: white;
  text-decoration: none;
}

.post-wrap__tweet .tweet__admin-info--name a:hover {
  text-decoration: underline;
  color: navajowhite;
}

.post-wrap__tweet .tweet__admin-info--name i {
  position: relative;
}

.post-wrap__tweet .tweet__admin-info--name i:before {
  content: "\f058";
  font-family: FontAwesome;
  font-style: normal;
  color: #fff;
  font-size: 12.5px;
  margin-left: 0px;
}

.post-wrap__tweet .tweet__admin-info--user-name {
  color: #ccc;
  margin-bottom: 7px;
}

.post-wrap__tweet .tweet__admin-info--post-time {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #ccc;
  margin-top: -48px;
  margin-right: 0px;
  float: right;
}

.post-wrap__tweet .tweet__text-container--words {
  font-size: 14px;
  padding-right: 15px;
  line-height: 21px;
  font-weight: 400;
  word-spacing: 1px;
  color: #fff;
}

.post-wrap__tweet .tweet__text-container--words .hash-highlighter {
  cursor: pointer;
  color: orangered;
}

.post-wrap__tweet .tweet__text-container--words .hash-highlighter:hover {
  text-decoration: underline;
}

.post-wrap__tweet .tweet__text-container--words .hash-highlighter:before {
  content: "#";
}

.post-wrap__tweet .tweet__text-container--words .at-highlighter {
  cursor: pointer;
  color: darkorange;
}

.post-wrap__tweet .tweet__text-container--words .at-highlighter:hover {
  text-decoration: underline;
}

.post-wrap__tweet .tweet__text-container--words .at-highlighter:before {
  content: "@";
}

.post-wrap__tweet .tweet__text-container--words .line-break {
  display: block;
}

.post-wrap__tweet .tweet__text-container--words .break-has-padding {
  padding: 10px 0;
}

.post-wrap__tweet .tweet__text-container--words .link-highlighter {
  color: darkorange;
  text-decoration: none;
}

.post-wrap__tweet .tweet__text-container--words .link-highlighter:hover {
  text-decoration: underline;
}

.post-wrap__tweet .tweet__tags-container {
  font-size: 12px;
  word-spacing: 1px;
  margin-top: 10px;
  color: #999;
  line-height: 18px;
  margin-left: 3px;
}

.post-wrap__tweet .tweet__reactions {
  margin-top: 15px;
}

@media screen and (max-width: 800px) {
  .post-wrap__tweet .tweet__reactions {
    margin-top: 10px;
  }
}

.post-wrap__tweet .tweet__reactions span {
  font-size: 12px;
  font-weight: bold;
}

.post-wrap__tweet .tweet__reactions span:nth-child(2) {
  margin-left: 62px;
  margin-right: 60px;
}

.post-wrap__tweet .tweet__reactions span i {
  position: relative;
}

.post-wrap__tweet .tweet__reactions span i:before {
  font-family: FontAwesome;
  font-style: normal;
  color: #fff;
  font-size: 16px;
}

.post-wrap__tweet .tweet__reactions span i:hover:before {
  color: #ccc;
  cursor: pointer;
}

.post-wrap__tweet .tweet__reactions span .reply {
  margin-left: 5px;
}

.post-wrap__tweet .tweet__reactions span .retweet, .post-wrap__tweet .tweet__reactions span .like {
  margin-right: 8px;
}

.post-wrap__tweet .tweet__reactions span .reply:before {
  content: "\f112";
}

.post-wrap__tweet .tweet__reactions span .retweet:before {
  content: "\f079";
}

.post-wrap__tweet .tweet__reactions span .like:before {
  content: "\f08a";
}

.post-wrap__tweet .tweet__reactions span .num {
  text-decoration: none;
  color: #ccc;
  position: absolute;
  margin-top: 2px;
}

/*post-tranformation*/
.resize {
  padding-top: 180px;
}

@media screen and (max-width: 800px) {
  .resize {
    padding-top: 100px;
  }
}

.post-sec {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.header {
  height: 265px;
  *zoom: 1;
  width: 100%;
  background: #000;
  position: fixed;
  z-index: 2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 800px) {
  .header {
    height: 170px;
  }
}

.header:after, .header:before {
  content: " ";
  display: table;
}

.header:after {
  clear: both;
}

.header-container {
  max-width: 100%;
  background-color: black;
  height: 210px;
  background-image: url(../i/bg/header-bg-cover-blackish.png);
  background-repeat: no-repeat;
  background-position: right center;
}

@media screen and (max-width: 800px) {
  .header-container {
    height: 130px;
  }
}

.header-container__wrapper {
  max-width: 1250px;
  margin: auto;
}

.header-container__wrapper--logo {
  height: 40px;
  width: 40px;
  float: left;
  margin-left: 29px;
  margin-top: 29px;
}

@media screen and (max-width: 800px) {
  .header-container__wrapper--logo {
    margin-top: 10px;
  }
}

.header-container__wrapper--logo img {
  height: 25px;
}

.header-container__wrapper--account {
  float: right;
}

.header-container__wrapper--headline {
  position: absolute;
  max-width: 500px;
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  margin: 0 auto;
  right: 0;
  left: 0;
}

@media screen and (max-width: 1000px) {
  .header-container__wrapper--headline {
    font-size: 28px;
  }
}

.header-container__wrapper--headline span {
  display: inline-block;
  margin: 67px auto 0 auto;
}

@media screen and (max-width: 800px) {
  .header-container__wrapper .display-on-large {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  .header-container__wrapper .display-on-small {
    display: none;
  }
}

.header-container .account-opt {
  margin-top: 24px;
  margin-right: 29px;
}

@media screen and (max-width: 800px) {
  .header-container .account-opt {
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .header-container .account-opt {
    display: none;
  }
}

.header-container .account-opt__list {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.header-container .account-opt__list a {
  border: 1px solid white;
  border-radius: 50px;
  padding: 6px 16px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.header-container .account-opt__list a:hover {
  background-color: white;
  color: black;
}

.header-container .account-opt__list .has--margin {
  margin-right: 15px;
}

/*header-container-transformations*/
.small {
  height: 135px;
}

@media screen and (max-width: 800px) {
  .small {
    height: 100px;
  }
}

.small .header-container__wrapper--headline-title {
  margin-top: 12px;
}

.small .header-container {
  height: 80px;
}

@media screen and (max-width: 800px) {
  .small .header-container {
    height: 60px;
  }
}

header, .header-container__wrapper--headline-title, .header-container {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

/*end-tranformation-settings*/
.header-navigation {
  background-color: #232323;
  overflow-x: scroll;
  overflow-y: hidden;
}

.header-navigation__wrapper {
  height: 55px;
  width: 1250px;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .header-navigation__wrapper {
    height: 40px;
    text-align: left;
    width: 800px;
  }
}

.header-navigation__wrapper--menu {
  list-style-type: none;
}

.header-navigation__wrapper--menu li {
  display: inline-block;
  margin-left: -4.4px;
}

.header-navigation__wrapper--menu li:nth-child(8) a {
  border-right: 0 solid #434343;
}

.header-navigation__wrapper--menu li:nth-child(2) i {
  display: block;
}

.header-navigation__wrapper--menu li a {
  display: block;
  padding: 19px 45px;
  text-decoration: none;
  color: white;
  border-right: 0.5px solid #434343;
}

@media screen and (max-width: 800px) {
  .header-navigation__wrapper--menu li a {
    font-size: 14px;
    padding: 12px 25px;
  }
}

.header-navigation__wrapper--menu li a:hover ~ i {
  display: block;
}

.header-navigation__wrapper--menu li a img {
  height: 15px;
}

@media screen and (max-width: 800px) {
  .header-navigation__wrapper--menu li a img {
    height: 12px;
  }
}

.header-navigation__wrapper--menu li a .dd-arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 6px 0 0 8px;
  float: right;
}

@media screen and (max-width: 800px) {
  .header-navigation__wrapper--menu li a .dd-arrow {
    margin: 2.7px 0 0 8px;
  }
}

.header-navigation__wrapper--menu li i {
  width: 100%;
  display: block;
  height: 5px;
  margin-top: -5px;
  background: #707070;
  display: none;
}

.header-navigation__wrapper--menu li .dd-content {
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: #1c1c1c;
  width: 223px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  font-weight: 500;
  margin-left: -40px;
  animation: 0.2s comedown ease-in;
}

.header-navigation__wrapper--menu li .dd-content a {
  padding: 10px 20px;
  font-size: 16px;
}

.header-navigation__wrapper--menu li .dd-content a:nth-child(1) {
  margin-top: 10px;
}

.header-navigation__wrapper--menu li .dd-content a:nth-child(4) {
  margin-bottom: 10px;
}

@keyframes comedown {
  0% {
    height: 0;
  }
  100% {
    height: 180px;
  }
}

.header-navigation__wrapper--menu li .show {
  display: block;
}

.footer {
  border-top: 1px solid #434343;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #222;
  overflow-x: scroll;
  overflow-y: hidden;
}

.footer__container {
  margin: auto;
  text-align: center;
  max-width: 1190px;
}

@media screen and (max-width: 410px) {
  .footer__container {
    display: -webkit-box;
    width: 1000px;
  }
}

.footer__container--menu {
  padding: 11px 10px;
}

.footer__container--menu li {
  display: inline-block;
  font-size: 12px;
  padding: 0 9px;
}

@media screen and (max-width: 620px) {
  .footer__container--menu li {
    font-size: 11px;
    padding: 0 5px;
  }
}

.footer__container--menu li a {
  text-decoration: none;
  color: #999;
}

.footer__container--menu li a:hover {
  text-decoration: underline;
}

.login-signup-form {
  margin-top: 35px;
  margin-bottom: 45px;
}

@media screen and (max-width: 800px) {
  .login-signup-form {
    margin-bottom: 25px;
  }
}

div.tab {
  overflow: hidden;
  border: 1px solid #434343;
  border-radius: 5px;
}

div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.1s;
  font-size: 17px;
  width: 50%;
  color: white;
  background-color: black;
}

div.tab button:nth-child(1) {
  border-right: 1px dotted #434343;
}

div.tab button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

div.tab button.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-right: 1px solid #434343;
  border-left: 1px solid #434343;
  border-bottom: 1px solid #434343;
  animation: 0.6s bounce-down ease-in;
  overflow: hidden;
}

@keyframes bounce-down {
  0% {
    height: 0;
  }
  100% {
    height: 300px;
  }
}

.tabcontent h2 {
  text-align: center;
  font-size: 27px;
  margin-bottom: 18px;
}

form {
  padding: 33px 28px 41px 30px;
}

input {
  background: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
}

input:focus {
  outline: none;
}

input:active {
  outline: none;
}

input[type="text"] {
  border: none;
  border-bottom: solid 1px #21a1e1;
  width: 100%;
  margin-top: 12px;
}

input[type="email"] {
  border: none;
  border-bottom: solid 1px #21a1e1;
  width: 100%;
  margin-top: 20px;
}

.input-group {
  display: block;
  position: relative;
}

.input-group input {
  color: orangered;
  font-weight: lighter;
}

.input-group label {
  position: absolute;
  top: 55%;
  left: 3px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #999;
  pointer-events: none;
  transition: all 0.15s ease-out 0s;
}

.input-group .pwd-lbl {
  top: 67%;
}

.usrnm-input:focus + label, .usrnm-input.has-value + label {
  top: 2px;
  left: -10px;
  font-size: 12px;
  color: #999;
}

.pwd-input:focus + label, .pwd-input.has-value + label {
  top: 10px;
  left: -10px;
  font-size: 11.5px;
  color: #999;
}

.pwd-opts {
  font-size: 12px;
  display: block;
  margin-top: 12px;
}

.pwd-opts__list {
  float: left;
  user-select: none;
}

.pwd-opts__list input {
  height: 15px;
  width: 15px;
  border-radius: 100px;
  border: 1px solid white;
  display: none;
}

.pwd-opts a {
  float: right;
  color: white;
  text-decoration: none;
}

.pwd-opts a:hover {
  text-decoration: underline;
}

input[type="submit"] {
  margin-top: 16px;
  width: 100%;
  padding: 7.5px 0;
  border-radius: 100px;
  border: 1px solid #434343;
  background: white;
  color: orangered;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.welcome-container {
  padding: 33px 28px 41px 30px;
}

.welcome-container h2 {
  margin-bottom: 14px;
  font-size: 24px;
}

.welcome-container h3 {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.welcome-container input {
  margin-top: 35px;
  padding: 10px 0;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: default;
}

input[type="checkbox"] + label:before {
  border: 1px solid #434343;
  content: "\00a0";
  display: inline-block;
  height: 12px;
  margin: -1px 3px 0 0;
  padding: 0;
  vertical-align: top;
  width: 12px;
  border-radius: 100px;
}

input[type="checkbox"]:checked + label:before {
  background: orangered;
  color: #333;
  content: "\2713";
  text-align: center;
}

input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
